body {
    font-size: 200%;
    background-color: #D8AECA;
}

.tab {
    margin-left: 40px;
}

header {
     background-color: #D8AECA;
}

header {
    font-family: Garamond, serif;
    text-align:right;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#nav li:hover {background: darkslategrey;}

#nav li {
    text-align:center;
    position: relative;
}

/*#bootstrap-overrides.nav-item:hover ul.a {
    display: block;
}
#bootstrap-overrides .a {
    display:none;
}
#bootstrap-overrides ul.a:hover {
    display:contents;
}

 */
p {
    text-indent: 40px;
}

footer {
    display:none;
}

#bootstrap-overrides .carousel {
    height:800px;
}



