body {
    font-size: 200%;
    background-color: #D8AECA;
}

.tab {
    margin-left: 40px;
}

.header {
     background-color: #D8AECA;
}

header {
    font-family: Garamond, serif;
    text-align:right;
}


#nav li {
    text-align:right;
    position: relative;
}

footer {
    display:none;
}

#bootstrap-overrides .carousel {
    height:500px;
}



