{% extends "base.html" %}
{% block content %}
    <h1>AAA Testing</h1>
    <img src="https://miro.medium.com/max/1200/1*_MiurxVJ3baRaV6s7r4vwA.png" alt="unit testing" class="center" style="width:350px;height:250px;"

    <p>Create a tutorial that demonstrates AAA testing with Python and explain why testing is important.</p>

    <div> </div>

    <h2>The Importance of Testing</h2>
        <div></div>
        There is no point in making code for functions if it does not have functionality. Testing the functionality of a code is critical in
        ensuring that the function does what it is intended to do. Creating simple unit tests to check each function is a good way of making
        sure that the code works for a certain test case. If the test case passes the pytest, then other applications of that code will work as well.

        <div></div>
        <h3>Testing with pytest</h3>
            <p>Running pytest in the terminal will allow you to see if the unit tests all pass. If the unit test has errors, then the pytest will
            tell you the exact line of the error and where the error is. </p>

    <h2>What is AAA Testing?</h2>
        <div></div>
        <p>AAA testing focuses on testing specific behaviors in your code to make sure that it is functional. These tests are simple
        and ensures that the function does what it is intended to do.</p>
        <p>
            <b>AAA:</b> simple test that focuses on specific behaviors; aids in writing good functional tests
            <ol>
                <li>Arrange: sets up the test case by putting in targets</li>
                <li>Act: fulfill target behavior</li>
                <li>Assert: expected outcomes, should elicit some sort of response</li>
            </ol>
        </p>


{% endblock %}