{% extends "base.html" %}
{% block content %}
    <h1>Git</h1>
    <div></div>
    <h2>Terminology</h2>
        <ul>
            <li>Branches:Branches are used to encapsulate changes in the development process. A branch represents the editing and committing process.
                The git branch command allows you to create, list, rename, and delete branches.
                Branches can be merged into the main code so that the main code can reflect the changes you made.</li>
            <li>Merge:The merge command allows you to merge branches from Git. Merging branches into the main code allows you to put all your changes
            into one main branch.</li>
            <li>Commit: A commit captures the individual change to a file or set of files.</li>
            <li>Tags:tags refer to specific points in Git history. Tags do not change like how a branch can after being created.
            Tags typically capture a point in history that is used for a marked version release
            </li>
            <li>Repositories:A repository is a collection of files and it tracks all the changes in the files of your folders</li>
        </ul>
{% endblock %}